---
title: GitLab Documentation
---
<section class="container-fluid px-0 d-flex">
  <nav class="sidebar-left d-none d-md-block border-right p-0">
    <div class="list-group list-group-flush pt-5">
      <a href="/" class="list-group-item list-group-item-action active border-bottom-0 border-top-0 d-flex align-items-center text-decoration-none">
        <%= icon('home', nil, 'menu-icon') %><span class="pl-1">Home</span></a>
      <% if is_production? %>
        <% @config[:products].each do |name, product| %>
          <% if product[:expose] == true %>
            <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>" class="list-group-item list-group-item-action border-bottom-0 border-top-0 d-flex align-items-center"><%= icon(product[:icon], nil, 'menu-icon') %><span class="pl-1"><%= product[:short_name] %></span></a>
          <% end %>
        <% end %>
      <% else %>
        <% @config[:products].each do |name, product| %>
          <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
            <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>" class="list-group-item list-group-item-action border-bottom-0 border-top-0 d-flex align-items-center"><%= icon(product[:icon], nil, 'menu-icon') %><span class="pl-1"><%= product[:short_name] %></span></a>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </nav>
  <main class="content">
    <div class="row px-4 pt-4">
      <div class="col-12">
        <h1 class="landing-header-title border-bottom-0 font-weight-bold">Welcome to GitLab Docs</h1>
        <p class="text-break">Here you can access the complete documentation for GitLab, the single application for the <span class="text-decoration-underline"><a href="https://docs.gitlab.com/ee/README.html#the-entire-devops-lifecycle">entire DevOps lifecycle</a></span>.</p>
      </div>
      <div class="col-12 pb-3">
        <h2 class="landing-header-subtitle border-bottom-0 font-weight-bold">Select a product area</h2>
      </div>
    </div>
    <div class="row px-4" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      <% if is_production? %>
        <% @config[:products].each do |name, product| %>
          <% if product[:expose] == true %>
            <% if product[:short_name] == 'GitLab' %>
              <div class="col-md-12 mb-3 gitlab-product-card">
            <% else %>
              <div class="col-12 col-lg-4 mb-3">
            <% end %>
                <a itemprop="url" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>" class="text-decoration-none">
                  <div class="card h-100">
                    <div class="flex-nowrap w-100">
                      <div class="col-12 d-flex flex-md-row">
                        <div>
                          <img class="product-img py-4" src="<%= product[:img] %>" alt="<%= product[:short_name] %> line logo">
                        </div>
                        <div>
                          <div class="card-body">
                            <p class="card-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= product[:short_name] %></p>
                            <p class="card-text text-break"><%= product[:description] %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
      <% end %>
      <% end %>
      <% else %>
        <% @config[:products].each do |name, product| %>
          <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
            <% if product[:short_name] == 'GitLab' %>
              <div class="col-md-12 mb-3 gitlab-product-card">
            <% else %>
              <div class="col-12 col-lg-4 mb-3">
            <% end %>
                <a itemprop="url" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>" class="text-decoration-none">
                  <div class="card h-100">
                    <div class="flex-nowrap w-100">
                      <div class="col-12 d-flex flex-md-row">
                        <div>
                          <img class="product-img py-4" src="<%= product[:img] %>" alt="<%= product[:short_name] %> line logo">
                        </div>
                        <div>
                          <div class="card-body">
                            <p class="card-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= product[:short_name] %></p>
                            <p class="card-text text-break"><%= product[:description] %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
      <div class="row px-4 mb-3">
        <div class="col-12 pb-3">
          <h2 class="landing-header-subtitle border-bottom-0 font-weight-bold">Popular topics</h2>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/user/profile/account/two_factor_authentication.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('key', nil, 'menu-icon') %> Two-factor authentication</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Improve the security of your GitLab account</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/raketasks/backup_restore.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('archive', nil, 'menu-icon') %> Back up and restore GitLab</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Back up and restore self-managed GitLab instances</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/user/group/index.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('group', nil, 'menu-icon') %> GitLab groups</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Manage projects together</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/ci/yaml/README.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('rocket', nil, 'menu-icon') %> GitLab CI/CD reference</h3>
            <p class="pl-4 ml-1 mt-1 text-break">GitLab CI/CD pipeline configuration reference</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/omnibus/settings/database.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('table', nil, 'menu-icon') %> Database settings</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Database settings for Omnibus GitLab self-managed instances</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/integration/elasticsearch.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('search', nil, 'menu-icon') %> Elasticsearch integration</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Integrate Elasticsearch with GitLab to enable advanced searching</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/policy/maintenance.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('documents', nil, 'menu-icon') %> GitLab policies</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Policies for version naming and cadence, and also upgrade recommendations</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/omnibus/settings/nginx.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('monitor-lines', nil, 'menu-icon') %> NGINX settings</h3>
            <p class="pl-4 ml-1 mt-1 text-break">NGINX settings for Omnibus GitLab self-managed instances</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/omnibus/settings/ssl.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('lock', nil, 'menu-icon') %> SSL configuration</h3>
            <p class="pl-4 ml-1 mt-1 text-break">SSL settings for Omnibus GitLab self-managed instances</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/user/admin_area/license.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('license', nil, 'menu-icon') %> Activate GitLab EE</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Activate GitLab Enterprise Edition functionality with a license</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/user/gitlab_com/index.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('settings', nil, 'menu-icon') %> GitLab.com settings</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Information about the settings that are used on GitLab.com, like SSH keys fingerprints, and shared Runners configuration</p>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a class="text-decoration-none" href="https://docs.gitlab.com/ee/administration/reference_architectures/index.html">
            <h3 class="popular-topics-title border-bottom-0 font-weight-bold pb-0 mb-0 text-break"><%= icon('tachometer', nil, 'menu-icon') %> Reference architectures</h3>
            <p class="pl-4 ml-1 mt-1 text-break">Recommended configurations to scale your GitLab installation for your number of users</p>
          </a>
        </div>
      </div>
      <div class="row px-4">
        <div class="col">
          <%= render '/feedback.*' %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= render '/footer.*' %>
      </div>
    </div>
  </main>
  <aside class="sidebar-right d-none d-lg-block"></aside>
</section>
